@mixin flexColumn {
  display: flex;
  flex-direction: column;
}
@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}
@mixin flexSpaceBetween {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@mixin flexColumnCenter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@mixin flexColumnSpaceBetween {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
@mixin flexWrapCenter {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
