//! Main Color
$color-brand: #e6123d;
$color-primary-700: #ef394e;
$color-primary-500: #ef4056;
$color-primary-300: #f37a8a;
$color-primary-100: #ffe440;
$color-secondry-700: #008eb2;
$color-secondry-500: #19bfd3;
$color-secondry-300: #008deb;
$color-secondry-100: #e6f4f7;
$color-tertiary-700: #39ae00;
$color-tertiary-500: #6bb927;
$color-tertiary-300: #9dc44d;

//! Other colors
$color-white: #fff;
$color-black: #080a38;
$color-bg: #c3c3ce;
$color-bg-100: #f1f2f4;
$color-text-900: #080a38;
$color-text-700: #3f4064;
$color-text-500: #5a5c7a;
$color-text-black: #3f4064;
$color-dot: #9e9fb1;
$border-color: #e0e0e6;

//! fontSize
$font-size-default: 1rem;
$font-size-sm: 1.2rem;
$font-size-md: 1.4rem;
$font-size-lg: 2.1rem;
$font-size-11: 1.1rem;
$font-size-13: 1.3rem;
$font-size-16: 1.6rem;
$font-size-26: 2.6rem;

//! margin
$margin-top: 2.5rem;
