.container {
  max-width: 130rem;
  padding: 0 2rem;
  margin: 4rem auto;
}
@media screen and (max-width: 1200px) {
}
@media screen and (max-width: 998px) {
}
@media screen and (max-width: 768px) {
}
@media screen and (max-width: 596px) {
}
